.row-header{
    margin: 0px auto;
    padding: 0px auto;

}
.row-content{
    margin: 0px auto;
    padding: 40px 0px;
    border-bottom: 2px solid black;
    min-height: 400px;
}
.footer{
    background-color: rgb(207, 235, 236);
    margin: 0px auto;
    padding: 40px 0px;
}
.jumbotron{
    margin: 0px auto;
    padding: 70px 30px;
    background-color:  rgb(158, 80, 231);
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: black;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #512DA8;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton{
    right: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 1;
}